[Unit]
Description=nfscheck
After=syslog.target network.target nfs-mountd.service

[Service]
Type=simple
ExecStart=/bin/sh /usr/bin/nfscheck.sh

[Install]
WantedBy=multi-user.target
