Source: pci-irq-affinity-agent
Section: admin
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 python3-all,
 python3-setuptools
Standards-Version: 4.1.2
Homepage: https://www.starlingx.io

Package: pci-irq-affinity-agent
Architecture: any
Depends:
 ${misc:Depends},
 mtce-pmon,
 python3:any,
 python3-novaclient
Description: StarlingX PCI Interrupt Affinity Agent Package
 StarlingX PCI Interrupt Affinity Agent Package
