#!/usr/bin/make -f
#export DH_VERBOSE = 1

export ROOT = debian/tmp
export ETC_DIR = $(ROOT)/etc
export INITD_DIR = $(ETC_DIR)/init.d
export PMOD_DIR = $(ETC_DIR)/pmon.d
export SYSTEMD_DIR = $(ROOT)/lib/systemd/system
export BIN_DIR = $(ROOT)/usr/bin

%:
	dh $@ --with python3 --buildsystem=pybuild

override_dh_install:
	install -p -m 755 -D files/pci-irq-affinity-agent $(INITD_DIR)/pci-irq-affinity-agent
	install -p -m 644 -D files/pci-irq-affinity-agent.conf $(PMOD_DIR)/pci-irq-affinity-agent.conf
	install -p -m 644 -D files/pci-irq-affinity-agent.service $(SYSTEMD_DIR)/pci-irq-affinity-agent.service
	install -p -m 600 -D files/config.ini $(ETC_DIR)/pci_irq_affinity/config.ini
	install -p -m 755 -D files/nova-sriov $(BIN_DIR)/nova-sriov
	dh_install

override_dh_auto_install:
	python3 setup.py install \
		--root=$(ROOT) \
		--install-layout=deb \
		--prefix=/usr \
		--install-data=/usr/share \
		--single-version-externally-managed
	rm -rf $(ROOT)/usr/lib/python3/dist-packages/pci_irq_affinity/__pycache__

override_dh_fixperms:
	dh_fixperms --exclude pci_irq_affinity/config.ini
