#!/usr/bin/make -f

export ROOT = $(CURDIR)/debian/tmp

export LOCAL_ETC_SYSTEMD = etc/systemd/system/
export LOCAL_ETC_COREDUMP = etc/systemd/coredump.conf.d
export LOCAL_ETC_INITD = etc/init.d
export LOCAL_ETC_SYSCTL = etc/sysctl.d
export LOCAL_ETC_MODLOAD = etc/modules-load.d

%:
	dh $@

override_dh_install:
	install -d -m 755 $(ROOT)/$(LOCAL_ETC_SYSCTL)
	install -p -D -m 644 coredump-sysctl-debian.conf $(ROOT)/$(LOCAL_ETC_SYSCTL)/50-coredump.conf

	install -d -m 755 $(ROOT)/$(LOCAL_ETC_COREDUMP)
	install -p -D -m 644 coredump.conf $(ROOT)/$(LOCAL_ETC_COREDUMP)/coredump.conf

	install -d -m 755 $(ROOT)/$(LOCAL_ETC_MODLOAD)
	install -p -D -m 644 modules-load-vfio.conf $(ROOT)/$(LOCAL_ETC_MODLOAD)/vfio.conf

	dh_install
