Source: debian-integration
Section: admin
Priority: optional
Maintainer: StarlingX Developers <starlingx-discuss@lists.starlingx.io>
Build-Depends: debhelper-compat (= 13)
Standards-Version: 4.4.1
Homepage: https://www.starlingx.io

Package: debian-integration
Architecture: all
Depends: ${misc:Depends}
Description: StarlingX Debian integration helper files.
 Installs temporary StarlingX's Debian integration files
