#!/usr/bin/make -f
#export DH_VERBOSE = 1

DEBIAN_BUILDDIR := $(CURDIR)/debian/tmp

%:
	dh $@ --with python3 --buildsystem=pybuild

# do nothing here since we install stuff into /usr/local
override_dh_usrlocal:
	echo

override_dh_auto_clean:
	cd platform-util && python3 setup.py clean

override_dh_auto_build:
	cd platform-util && python3 setup.py build

override_dh_auto_configure:
	echo "CONFIGURE NOT REQUIRED"

override_dh_auto_test:
	echo "AUTO TEST NOT REQUIRED"

override_dh_auto_install:
	cd platform-util && python3 setup.py install -f --install-layout=deb --root=$(CURDIR)/debian/tmp
	cd platform-util && python3 setup.py bdist_wheel \
		--universal \
		-d $(CURDIR)/debian/platform-util-wheel/usr/share/python3-wheels

	install -d $(DEBIAN_BUILDDIR)/usr/local/bin/
	install -m 555 scripts/update-iso.sh $(DEBIAN_BUILDDIR)/usr/local/bin/
	install -m 555 scripts/gen-bootloader-iso.sh $(DEBIAN_BUILDDIR)/usr/local/bin/
	install -m 555 scripts/gen-bootloader-iso-centos.sh $(DEBIAN_BUILDDIR)/usr/local/bin/
	install -m 555 scripts/stx-iso-utils.sh $(DEBIAN_BUILDDIR)/usr/local/bin/
	install -m 555 scripts/stx-iso-utils-centos.sh $(DEBIAN_BUILDDIR)/usr/local/bin/
	install -m 555 scripts/show-certs.sh $(DEBIAN_BUILDDIR)/usr/local/bin/
	install -m 555 scripts/update_docker_registry_auth.sh $(DEBIAN_BUILDDIR)/usr/local/bin/
	install -m 555 scripts/change_system_private_registry.sh $(DEBIAN_BUILDDIR)/usr/local/bin/
	install -m 555 scripts/is-rootdisk-device.sh $(DEBIAN_BUILDDIR)/usr/local/bin/
	install -m 755 scripts/connectivity_test $(DEBIAN_BUILDDIR)/usr/local/bin/
	install -m 750 scripts/set_keystone_user_option.sh $(DEBIAN_BUILDDIR)/usr/local/bin/

	install -d $(DEBIAN_BUILDDIR)/usr/local/sbin/
	install -m 700 -p -D scripts/patch-restart-mtce $(DEBIAN_BUILDDIR)/usr/local/sbin/
	install -m 700 -p -D scripts/patch-restart-processes $(DEBIAN_BUILDDIR)/usr/local/sbin/
	install -m 700 -p -D scripts/patch-restart-haproxy $(DEBIAN_BUILDDIR)/usr/local/sbin/

	dh_install

override_dh_fixperms:
	dh_fixperms -Xupdate-iso.sh -Xgen-bootloader-iso.sh -Xstx-iso-utils.sh \
	-Xshow-certs.sh -Xupdate_docker_registry_auth.sh -Xchange_system_private_registry.sh \
        -Xis-rootdisk-device.sh -Xpatch-restart-* -Xconnectivity_test -Xset_keystone_user_option.sh
