# HEADER: This file is being managed by puppet. Changes to
# HEADER: interfaces that are not being managed by puppet will persist;
# HEADER: however changes to interfaces that are being managed by puppet will
# HEADER: be overwritten. In addition, file order is NOT guaranteed.
# HEADER: Last generated at: 2022-02-15 12:23:56 +0000 by Andre Kantek


auto enp0s3 lo lo:1 lo:5

iface enp0s3 inet static
address 10.41.4.3
netmask 255.255.255.0
    gateway 10.41.4.1
    mtu 1500
    pre-up sleep 20; /usr/sbin/sysctl -w net.ipv6.conf.enp0s3.autoconf=0 net.ipv6.conf.enp0s3.accept_ra=0 net.ipv6.conf.enp0s3.accept_redirects=0

iface lo inet static
address 192.168.204.2
netmask 255.255.255.0
    mtu 1500
    post-up /usr/local/bin/tc_setup.sh lo mgmt 10000 > /dev/null
    pre-up sleep 20; /usr/sbin/sysctl -w net.ipv6.conf.lo.autoconf=0 net.ipv6.conf.lo.accept_ra=0 net.ipv6.conf.lo.accept_redirects=0
    scope host

iface lo:1 inet static
address 192.168.204.2
netmask 255.255.255.0
    mtu 1500
    pre-up sleep 20; /usr/sbin/sysctl -w net.ipv6.conf.lo.autoconf=0 net.ipv6.conf.lo.accept_ra=0 net.ipv6.conf.lo.accept_redirects=0
    scope host

iface lo:5 inet static
address 192.168.206.2
netmask 255.255.255.0
    mtu 1500
    pre-up sleep 20; /usr/sbin/sysctl -w net.ipv6.conf.lo.autoconf=0 net.ipv6.conf.lo.accept_ra=0 net.ipv6.conf.lo.accept_redirects=0
    scope host


