{% extends "layout.html" %}
{% block title %}Edit Profile{% endblock %}
{% block body %}
  <h2>Edit Profile</h2>
  <form action="" method=post>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">Name:</span>
      </div>
      <input type="text" name=name class="form-control" placeholder="name" aria-label="name" aria-describedby="basic-addon1" value="{{ form.name }}">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">E-Mail:</span>
      </div>
      <input type="text" name=email class="form-control" placeholder="email" aria-label="email" aria-describedby="basic-addon1" value="{{ form.email }}">
    </div>
    <p>
      <input type=submit value="Update profile" class="btn btn-primary">
      <input type=submit name=delete value="Delete" class="btn btn-primary">
  </form>
{% endblock %}
